Source: xtables-addons
Section: admin
Priority: optional
Maintainer: Debian Netfilter Packaging Team <pkg-netfilter-team@lists.alioth.debian.org>
Uploaders: Jeremy Sowden <jeremy@azazel.net>
Build-Depends: bzip2, debhelper-compat (= 13), dkms, libxtables-dev, pkg-config
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://inai.de/projects/xtables-addons/
Vcs-Browser: https://salsa.debian.org/pkg-netfilter-team/pkg-xtables-addons
Vcs-Git: https://salsa.debian.org/pkg-netfilter-team/pkg-xtables-addons.git

Package: xtables-addons-common
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
# "libnet-cidr-lite-perl" is used by `xt_geoip_build`;
# "unzip" and "wget" are used by `xt_geoip_dl`.
Recommends: libnet-cidr-lite-perl, unzip, wget, xtables-addons-dkms
Suggests: libtext-csv-xs-perl
Provides: xtables-addons-common-${source:Upstream-Version}
Breaks: ipset (<< 6.11~)
Description: Extensions targets and matches for iptables [tools, libs]
 Xtables-addons provides extra modules for iptables not present in the
 kernel, and is the successor of patch-o-matic.
 Extensions includes new targets like TEE, TARPIT, CHAOS, or modules like
 geoip and account.
 .
 This package provides the userspace libraries for iptables to use extensions
 in the xtables-addons-modules package.
 .
 Note: this package is only useful with a corresponding xtables-addons-dkms
 package, which you may produce with module-assistant:
 .
   module-assistant auto-install xtables-addons-source

Package: xtables-addons-dkms
Section: kernel
Architecture: all
Depends: dkms,
         make,
         xtables-addons-common (>= ${source:Upstream-Version}),
         ${misc:Depends}
Recommends: linux-headers
Description: Extensions targets and matches for iptables
 Xtables-addons provides extra modules for iptables not present in the
 kernel, and is the successor of patch-o-matic.
 Extensions includes new targets like TEE, TARPIT, CHAOS, or modules like
 geoip and account.
 .
 The dkms package will automatically compile the driver for your current
 kernel version.

Package: xtables-addons-source
Architecture: all
Depends: bzip2,
         debhelper (>= 8),
         libxtables-dev,
         make,
         pkg-config,
         ${misc:Depends}
Recommends: module-assistant
Description: Extensions targets and matches for iptables [modules sources]
 Xtables-addons provides extra modules for iptables not present in the
 kernel, and is the successor of patch-o-matic.
 Extensions includes new targets like TEE, TARPIT, CHAOS, or modules like
 geoip and account.
 .
 This package provides the source code for the xtables-addons kernel modules.
 The xtables-addons package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
