#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

BUILD_DATE := $(shell date +%c --date '@$(SOURCE_DATE_EPOCH)' --utc)

DKMS_CONF    = debian/xtables-addons-dkms.dkms
DKMS_SRC_DIR = debian/xtables-addons-dkms/usr/src

SOURCE_BUILD_DIR   = debian/xtables-addons-source.build
SOURCE_SRC_DIR     = debian/xtables-addons-source/usr/src
SOURCE_MODULES_DIR = $(SOURCE_SRC_DIR)/modules

%:
	dh $@ --with dkms

override_dh_auto_clean:
	dh_auto_clean --no-parallel

override_dh_clean:
	dh_clean $(SOURCE_BUILD_DIR)/ $(DKMS_CONF)

override_dh_auto_configure:
	dh_auto_configure -- --without-kbuild

override_dh_auto_build:
	## prepare sources for DKMS and source packages
	mkdir -p $(SOURCE_BUILD_DIR)
	cp -r \
		aclocal.m4 \
		build-aux \
		config.h \
		configure.ac \
		extensions \
		geoip \
		*.in \
		m4 \
		Makefile \
		Makefile.am \
		Makefile.extra \
		Makefile.iptrules \
		Makefile.mans \
		mconfig \
		$(SOURCE_BUILD_DIR)
	find $(SOURCE_BUILD_DIR) -name .gitignore -delete
	## continue with build
	dh_auto_build

override_dh_auto_install: $(DKMS_CONF)
	## prepare module sources
	mkdir -p $(SOURCE_BUILD_DIR)/debian
	cp \
		debian/changelog \
		debian/control \
		debian/control.modules.in \
		debian/copyright \
		$(SOURCE_BUILD_DIR)/debian
	cp debian/rules.modules $(SOURCE_BUILD_DIR)/debian/rules
	mkdir -p $(SOURCE_MODULES_DIR)
	mv $(SOURCE_BUILD_DIR) $(SOURCE_MODULES_DIR)/xtables-addons
	cd $(SOURCE_SRC_DIR); find modules -print0 | \
		LC_ALL=C sort -z | \
		tar cjf xtables-addons.tar.bz2 \
			--mtime="$(BUILD_DATE)" \
			--mode=go=rX,u+rw,a-s \
			--no-recursion --null -T -
	$(RM) -r $(SOURCE_MODULES_DIR)/xtables-addons/debian
	## prepare DKMS sources
	mkdir -p $(DKMS_SRC_DIR)
	mv $(SOURCE_MODULES_DIR)/xtables-addons $(DKMS_SRC_DIR)/xtables-addons-$(DEB_VERSION_UPSTREAM)
	$(RM) -r $(SOURCE_MODULES_DIR)
	## continue with install
	dh_auto_install

$(DKMS_CONF):
	sed -e 's/__VERSION__/$(DEB_VERSION_UPSTREAM)/g' $(DKMS_CONF).in >$(DKMS_CONF)
	cat $(DKMS_CONF).modules >>$(DKMS_CONF)
