#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

BUILD_DATE := $(shell date +%c --date '@$(SOURCE_DATE_EPOCH)' --utc)

DCFG := debian/xtables-addons-dkms.dkms
TMPSRC := debian/temp.src

%:
	dh $@ --with dkms

override_dh_auto_clean:
	dh_auto_clean --no-parallel

override_dh_clean:
	dh_clean $(TMPSRC)/ $(DCFG)

override_dh_auto_configure:
	dh_auto_configure -- --without-kbuild

override_dh_auto_build:
	## prepare sources for DKMS and source packages
	mkdir -p $(TMPSRC)
	cp -r \
		aclocal.m4 \
		build-aux \
		config.h \
		configure.ac \
		extensions \
		geoip \
		*.in \
		m4 \
		Makefile \
		Makefile.am \
		Makefile.extra \
		Makefile.iptrules \
		Makefile.mans \
		mconfig \
		$(TMPSRC)
	find $(TMPSRC) -name .gitignore -delete
	## continue with build
	dh_auto_build

SRC_MOD := debian/xtables-addons-source/usr/src/modules
SRC_DKMS := debian/xtables-addons-dkms/usr/src
override_dh_auto_install: $(DCFG)
	## prepare module sources
	mkdir -p $(TMPSRC)/debian
	cp \
		debian/changelog \
		debian/control \
		debian/control.modules.in \
		debian/copyright \
		$(TMPSRC)/debian
	cp debian/rules.modules $(TMPSRC)/debian/rules
	mkdir -p $(SRC_MOD)
	mv $(TMPSRC) $(SRC_MOD)/xtables-addons
	cd debian/xtables-addons-source/usr/src; find modules -print0 | \
		LC_ALL=C sort -z | \
		tar cjf xtables-addons.tar.bz2 \
			--mtime="$(BUILD_DATE)" \
			--mode=go=rX,u+rw,a-s \
			--no-recursion --null -T -
	$(RM) -r modules/xtables-addons/debian
	## prepare DKMS sources
	mkdir -p $(SRC_DKMS)
	mv $(SRC_MOD)/xtables-addons $(SRC_DKMS)/xtables-addons-$(DEB_VERSION_UPSTREAM)
	$(RM) -r $(SRC_MOD)
	## continue with install
	dh_auto_install

$(DCFG):
	sed -e 's/__VERSION__/$(DEB_VERSION_UPSTREAM)/g' $(DCFG).in >$(DCFG)
	cat $(DCFG).modules >>$(DCFG)
